<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hue</title>
</head>
<style>
    h1{
        background-image: url('/static/img/headerbg.png');
        text-align: center;
    }
    body{
        border: 1px solid;
    }
    .on{
        transition-duration: 0.4s;
        border-radius: 60%;
    }
    .on:hover{
        background-color: green;
        color: white;
    }
    html{
        margin: 110px;
        text-align: center;
        background-color: lightblue;
    }
    body{
        height: 500px;
        width: 500px;
    }
</style>
<body>
    <h1>Hue Light Changer</h1>
    <form method = "post" action="/" id="buttons">
        <input type="submit" value="On" name='On'/>
        <input type="submit" value = 'Off' name='Off'/>
    </form>

    <form method = 'post' action="{{ url_for('uInput') }}">
        <input type="range" min="1" max="254" class="slider" name="brightness" id='slider'/>
        <div id="slideAMT"></div>
        <input type="color" name="color"/>
        <input type="submit"/>
    </form>

    <form method = 'post' action="{{ url_for('disco') }}">
        <input type = 'submit' value="Disco Mode!" name="disco"/>
        <input type = 'submit' value="Stop" name="stop"/>
    </form>
</body>
<script>
    function updateSlider(slideAMT)
    {
        var slider = document.getElementById('slideAMT');
        slider.innerHTML = slideAMT;
    }

    slide.onchange = function() {
        slider.innerHTML = this.value;
    }

    
</script>
</html>